$primary-font: "Mulish", sans-serif;

// Code Color
$blue-darkter: #23e3ff;
$blue-lighter: #00ffff;
$blue-light: #43dee0;
$white-color: #fff;
$blue-dark: #00b2ed;
$green-lighter: #6c90c7;
$green-dark: #28c1e6;
$yellow: #ffc700;
