<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edu_tech</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="../sass/app.css" />
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__content">
                <div class="header__menu">
                    <img src="../images/home/logo.png" alt="Home" class="header__logo" />
                    <div class="active">Trang chủ</div>
                    <div>Liên hệ</div>
                    <div>Giới thiệu</div>
                </div>
                <div class="header__menu">
                    <div class="header__item">
                        <input type="text" placeholder="Tìm môn học / ngành học..." />
                        <img src="../images/home/search.png" alt="search">
                    </div>
                    <img src="../images/home/shopping-cart.png" alt="">
                    <img src="../images/home/avatar.png" alt="avatar">
                </div>
            </div>
        </div>
    </header>
    <main>

        <section class="introduce" id="introduce">
            <div class="container">
                <div class="introduce__content">
                    <div class="introduce__left">
                        <div class="introduce__item">
                            <div><img src="../images/home/icon_1.png" alt="icon" />
                                <div>Khoá học phổ thông</div>
                            </div>
                            <img src="../images/home/arrow-right.png" alt="icon" />
                        </div>
                        <div class="introduce__item">
                            <div><img src="../images/home/icon_2.png" alt="icon" />
                                <div>Khoá học công nghệ</div>
                            </div>
                            <img src="../images/home/arrow-right.png" alt="icon" />
                        </div>
                        <div class="introduce__item">
                            <div><img src="../images/home/icon_3.png" alt="icon" />
                                <div>Khoá học tài chính</div>
                            </div>
                            <img src="../images/home/arrow-right.png" alt="icon" />
                        </div>

                        <hr />
                        <div class="introduce__list">
                            <img src="../images/home/icon_4.png" alt="icon" />
                            <div>
                                Tiếng Anh
                            </div>
                        </div>
                        <div class="introduce__list">
                            <img src="../images/home/icon_5.png" alt="icon" />
                            <div>
                                Toán
                            </div>
                        </div>
                        <div class="introduce__list">
                            <img src="../images/home/icon_6.png" alt="icon" />
                            <div>
                                Hóa học
                            </div>
                        </div>
                        <div class="introduce__list">
                            <img src="../images/home/icon_7.png" alt="icon" />
                            <div>
                                Lập trình
                            </div>
                        </div>
                        <div class="introduce__list">
                            <img src="../images/home/icon_8.png" alt="icon" />
                            <div>
                                Kế toán
                            </div>
                        </div>
                        <div class="introduce__list">
                            <img src="../images/home/icon_9.png" alt="icon" />
                            <div>
                                Tài chính
                            </div>
                        </div>
                    </div>
                    <div class="introduce__right">
                        <img src="../images/home/bg_banner.png" alt="banner" />
                        <div class="introduce__right--button">
                            <div>Tìm hiểu thêm</div>
                            <img src="../images/home/arrow-right-black.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="course" id="course">
            <div class="container">
                <div class="course__content">
                    <div class="container__head">Khoá học nổi bật</div>
                    <div class="course__list">
                        <div class="course__item">
                            <img src="../images/home/img_1.png" class="course__image" />
                            <div>
                                <div class="course__title">
                                    Lập trình Java: Làm quen với Java
                                </div>
                                <div class="course__info">
                                    <div class="course__info--left">
                                        <div class="course__info--author">
                                            GV: Phan Anh Tú
                                        </div>
                                        <div class="course__info--star">
                                            <img src="../images/home/star_bold.png" alt="star">
                                            <img src="../images/home/star_bold.png" alt="star">
                                            <img src="../images/home/star_bold.png" alt="star">
                                            <img src="../images/home/star_bold.png" alt="star">
                                            <img src="../images/home/star.png" alt="star">
                                        </div>
                                    </div>
                                    <div class="course__info--right">
                                        <div class="course__info--origin">1.090.000 đ</div>
                                        <div class="course__info--price">539.000 đ</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="course__item">
                            <img src="../images/home/img_2.png" class="course__image" />
                            <div>
                                <div class="course__title">
                                    Hướng dẫn thực hành kế toán
                                </div>
                                <div class="course__info">
                                    <div class="course__info--left">
                                        <div class="course__info--author">
                                            GV: Nguyễn Quốc Hùng
                                        </div>
                                        <div class="course__info--star">
                                            <img src="../images/home/star_bold.png" alt="star">
                                            <img src="../images/home/star_bold.png" alt="star">
                                            <img src="../images/home/star_bold.png" alt="star">
                                            <img src="../images/home/star_bold.png" alt="star">
                                            <img src="../images/home/star_bold.png" alt="star">
                                        </div>
                                    </div>
                                    <div class="course__info--right">
                                        <div class="course__info--price">539.000 đ</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="course__item">
                            <img src="../images/home/img_3.png" class="course__image" />
                            <div>
                                <div class="course__title">
                                    Kế toán cho người mới bắt đầu
                                </div>
                                <div class="course__info">
                                    <div class="course__info--left">
                                        <div class="course__info--author">
                                            GV: Phan Anh Tú
                                        </div>
                                        <div class="course__info--star">
                                            <img src="../images/home/star_bold.png" alt="star">
                                            <img src="../images/home/star_bold.png" alt="star">
                                            <img src="../images/home/star_bold.png" alt="star">
                                            <img src="../images/home/star_bold.png" alt="star">
                                            <img src="../images/home/star.png" alt="star">
                                        </div>
                                    </div>
                                    <div class="course__info--right">
                                        <div class="course__info--price">Miễn phí</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="course__item">
                            <img src="../images/home/img_4.png" class="course__image" />
                            <div>
                                <div class="course__title">
                                    Học Tiếng Anh giao tiếp hiệu quả
                                </div>
                                <div class="course__info">
                                    <div class="course__info--left">
                                        <div class="course__info--author">
                                            GV: Phan Anh Tú
                                        </div>
                                        <div class="course__info--star">
                                            <img src="../images/home/star_bold.png" alt="star">
                                            <img src="../images/home/star_bold.png" alt="star">
                                            <img src="../images/home/star_bold.png" alt="star">
                                            <img src="../images/home/star_bold.png" alt="star">
                                            <img src="../images/home/star.png" alt="star">
                                        </div>
                                    </div>
                                    <div class="course__info--right">
                                        <div class="course__info--origin">1.090.000 đ</div>
                                        <div class="course__info--price">539.000 đ</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="course__item">
                            <img src="../images/home/img_2.png" class="course__image" />
                            <div>
                                <div class="course__title">
                                    Hướng dẫn thực hành kế toán
                                </div>
                                <div class="course__info">
                                    <div class="course__info--left">
                                        <div class="course__info--author">
                                            GV: Phan Anh Tú
                                        </div>
                                        <div class="course__info--star">
                                            <img src="../images/home/star_bold.png" alt="star">
                                            <img src="../images/home/star_bold.png" alt="star">
                                            <img src="../images/home/star_bold.png" alt="star">
                                            <img src="../images/home/star_bold.png" alt="star">
                                            <img src="../images/home/star.png" alt="star">
                                        </div>
                                    </div>
                                    <div class="course__info--right">
                                        <div class="course__info--origin">1.090.000 đ</div>
                                        <div class="course__info--price">539.000 đ</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="course__item">
                            <img src="../images/home/img_5.png" class="course__image" />
                            <div>
                                <div class="course__title">
                                    Học toán lớp 1
                                </div>
                                <div class="course__info">
                                    <div class="course__info--left">
                                        <div class="course__info--author">
                                            GV: Phan Anh Tú
                                        </div>
                                        <div class="course__info--star">
                                            <img src="../images/home/star_bold.png" alt="star">
                                            <img src="../images/home/star_bold.png" alt="star">
                                            <img src="../images/home/star_bold.png" alt="star">
                                            <img src="../images/home/star_bold.png" alt="star">
                                            <img src="../images/home/star.png" alt="star">
                                        </div>
                                    </div>
                                    <div class="course__info--right">
                                        <div class="course__info--origin">1.090.000 đ</div>
                                        <div class="course__info--price">539.000 đ</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="teach" id="teach">
            <div class="container">
                <div class="teach__content">
                    <div class="container__head">
                        Giảng viên nổi bật
                    </div>
                    <div class="teach__list">
                        <div class="teach__item">
                            <img src="../images/home/teach_1.png" alt="" class="teach__image" />
                            <div class="teach__info">
                                <div class="teach__info--name">
                                    <div>Thầy <span>Đỗ Trung Hiếu</span></div>
                                    <div>Thạc sĩ</div>
                                </div>
                                <div class="teach__desc">
                                    <div class="teach__desc--star">
                                        <img src="../images/home/star_bold.png" alt="star">
                                        <img src="../images/home/star_bold.png" alt="star">
                                        <img src="../images/home/star_bold.png" alt="star">
                                        <img src="../images/home/star_bold.png" alt="star">
                                        <img src="../images/home/star.png" alt="star">
                                    </div>
                                    <div>
                                        <div>Xem hồ sơ</div>
                                        <img src="../images/home/arrow-right-blue.png" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="teach__item">
                            <img src="../images/home/teach_2.png" alt="" class="teach__image" />
                            <div class="teach__info">
                                <div class="teach__info--name">
                                    <div>Cô <span>Phạm Thanh Nga</span></div>
                                    <div>Giảng viên</div>
                                </div>
                                <div class="teach__desc">
                                    <div class="teach__desc--star">
                                        <img src="../images/home/star_bold.png" alt="star">
                                        <img src="../images/home/star_bold.png" alt="star">
                                        <img src="../images/home/star_bold.png" alt="star">
                                        <img src="../images/home/star_bold.png" alt="star">
                                        <img src="../images/home/star.png" alt="star">
                                    </div>
                                    <div>
                                        <div>Xem hồ sơ</div>
                                        <img src="../images/home/arrow-right-blue.png" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="teach__item">
                            <img src="../images/home/teach_3.png" alt="" class="teach__image" />
                            <div class="teach__info">
                                <div class="teach__info--name">
                                    <div>Cô <span>Hồ Thị Mai Anh</span></div>
                                    <div>Giảng viên</div>
                                </div>
                                <div class="teach__desc">
                                    <div class="teach__desc--star">
                                        <img src="../images/home/star_bold.png" alt="star">
                                        <img src="../images/home/star_bold.png" alt="star">
                                        <img src="../images/home/star_bold.png" alt="star">
                                        <img src="../images/home/star_bold.png" alt="star">
                                        <img src="../images/home/star.png" alt="star">
                                    </div>
                                    <div>
                                        <div>Xem hồ sơ</div>
                                        <img src="../images/home/arrow-right-blue.png" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="teach__item">
                            <img src="../images/home/teach_4.png" alt="" class="teach__image" />
                            <div class="teach__info">
                                <div class="teach__info--name">
                                    <div>Thầy <span>Johnny Eve</span></div>
                                    <div>Giảng viên</div>
                                </div>
                                <div class="teach__desc">
                                    <div class="teach__desc--star">
                                        <img src="../images/home/star_bold.png" alt="star">
                                        <img src="../images/home/star_bold.png" alt="star">
                                        <img src="../images/home/star_bold.png" alt="star">
                                        <img src="../images/home/star_bold.png" alt="star">
                                        <img src="../images/home/star.png" alt="star">
                                    </div>
                                    <div>
                                        <div>Xem hồ sơ</div>
                                        <img src="../images/home/arrow-right-blue.png" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <footer class="footer">
        <div class="footer__form">
            <div class="footer__title">Đăng ký nhận tin</div>
            <div class="footer__input">
                <input type="text" placeholder="Nhập địa chỉ Email của bạn">
                <div class="footer__input--register">
                    <div>Đăng ký</div>
                    <img src="../images/home/arrow-right-blue.png" alt="">
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="../scripts/app.js"></script>
    <script>
        AOS.init({
            duration: 800,
        });

    </script>
</body>

</html>